link(rel='stylesheet', href='stylesheets/chat_box.css')
script.
    (function($) {
        var chatbox__title__close = 
        $(document).ready(function() {
            $('.contact-profile').click(function(){
                if($('#frame').attr('class')== 'chatbox--closed'){
                    $('#frame').attr('class','')
                }else{
                  $('#frame').attr('class','chatbox--closed')  
                }
                
            })
            var $chatbox = $('#frame'),
                $chatboxTitle = $('.chatbox__title'),
                $chatboxTitleClose = $('.chatbox__title__close'),
                $chatboxCredentials = $('.chatbox__credentials');
            $chatboxTitle.on('click', function() {
                $chatbox.toggleClass('chatbox--tray');
            });
            $chatboxTitleClose.on('click', function() {
                $chatbox.empty()
            });
            var $results = $("#frame_");
            $results.find('.messages').scroll(function() {
                if(($results.find('.messages').scrollTop()) == $results.find('ul').height()) {
                    if (!$results.find('.messages').data("loading")) {
                        $results.find('.messages').before($("<div class='d-flex loading justify-content-center'>"+
                            "<div class='spinner-border spinner-border-sm 'style ='left: 40%;position: absolute;z-index:10;' role='status'>"+
                                "<span class='sr-only'>Loading...</span>"+
                            "</div>"+
                        "</div>").fadeIn('slow')).data("loading", true); 
                        setTimeout(function(){
                             
                            console.log('top ')
                            loadMessages($chatbox.find('#contacts').find('#'+$chatbox.find('.contact-profile').data('id')).data('thread'),$chatbox.find('.contact-profile').data('id'),$results.find('.messages').find('li').length-1)
                            $results.find('.messages').scrollTop(3)
                        }, 1500)
                    }
                }
            });
        });
    })(jQuery);
#frame
    .content
        .contact-profile(data-id=Account_ID)
            img(src='http://emilcarlsson.se/assets/harveyspecter.png', alt='')
            p #{Account_NAME}
            .social-media
                i.fa.fa-facebook(aria-hidden='true')
                i.fa.fa-twitter(aria-hidden='true')
                i.fa.fa-instagram(aria-hidden='true')
            button.chatbox__title__close
                span
                    svg(viewBox='0 0 12 12', width='12px', height='12px')
                        line(stroke='#0084ff', x1='11.75', y1='0.25', x2='0.25', y2='11.75')
                        line(stroke='#0084ff', x1='11.75', y1='11.75', x2='0.25', y2='0.25')
        .messages
            ul
            
        .message-input
            .wrap
                input.msg(type='text', placeholder='Write your message...')
                i.fa.fa-paperclip.attachment(aria-hidden='true')
                button.submit
                    i.fa.fa-paper-plane(aria-hidden='true')

