.alert.alert-success(role='alert')
  button.close(type='button', data-dismiss='alert', aria-label='Close')
    span(aria-hidden='true') ×
  h4.alert-heading #{heading}
  p#linkToCopy(style="overflow-wrap:break-word") #{message}
  hr
  p #{message_bottom}