.container-fluid
    .row 
        .col
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            .card.shadow
                .card-header.py-3
                    m-0.font-weight-bold.text-primary Server Monitoring
                .card-body
                    