nav.navbar.navbar-expand-lg.navbar-light
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Evacuation Center
        .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#') Update
            a.dropdown-item(href='#') Add
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
